/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* SIDEBAR */
#sidebar {
    position: fixed;
    top: 0;
    left: 0; /* pra preview igual imagem */
    width: 280px;
    height: 100vh;
    background-color: #E7DFDF;
    font-family: 'Georgia', serif;
}

/* HEADER */
.sidebar-header {
    background: linear-gradient(180deg, #7A1E6C, #521945);
    padding: 18px 20px;
}

.sidebar-header h2 {
    color: #EAD7B7;
    font-family: "Libre Bodoni", serif;
    font-style: italic;
    font-size: 20px;
    font-style: italic;
    font-weight: bold;
    letter-spacing: 1px;
}

/* MENU */
.menu {
    list-style: none;
    padding-top: 15px;
}

.menu li {
    padding: 14px 20px;
}

/* LINKS */
.menu a {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-decoration: none;
    color: #000;
    font-size: 16px;
    font-family: "Bodoni Moda", serif;
    font-optical-sizing: auto;
    font-weight: bolder;
    font-style: normal;
    letter-spacing: 1px;
    text-transform: uppercase;
}

/* SETA */
.menu span {
    font-size: 18px;
    color: #000;
}

/* HOVER SUAVE */
.menu li:hover {
    background-color: #d8cfcf;
    cursor: pointer;
}


/* SIDEBAR ESCONDIDA */
#sidebar {
    position: fixed;
    top: 0;
    left: -280px; /* 👈 ESSENCIAL */
    width: 280px;
    height: 100vh;
    background-color: #E7DFDF;
    transition: left 0.3s ease;
    z-index: 999;
}

/* QUANDO ABRIR */
#sidebar.active {
    left: 0;
}

/* OVERLAY */
#overlay {
    position: fixed;
    inset: 0;
    background: rgba(0,0,0,0.4);
    opacity: 0;
    visibility: hidden;
    transition: 0.3s;
    z-index: 998;
}

#overlay.active {
    opacity: 1;
    visibility: visible;
}

.menu-btn {
    position: fixed;
    top: 20px;
    left: 20px;
    z-index: 1000;
}